.RightSidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #424242;
  border-right: 1px solid #e9ecef;
  z-index: 1000;
  overflow-y: auto;
}

ul{
  list-style-type: square;
}
.plus-button{
  list-style-type: none;
}

.state {
  color: greenyellow;
}

.plus-friend{
  width: 40px;
  margin-left: 150px;
}
