
.roomListContentGameImage{
    flex:1;
    height:400px;
    opacity: 90%;
    z-index : 0;
    box-sizing: border-box;
}
.userIcon{
    width:30px;
    height:30px;
}
.lockImage{
    width:40px;
    height:40px;
}
.peopleCount, .maxPeopleCount{
    color : black;
    font-size: 30px;
    box-sizing: border-box;
}
.maxPeopleCount{
    margin-right: 15px;
}
.topRightContainer{
    position : absolute;
    right: 20px;
    display:flex;
    flex: 1;
    box-sizing: border-box;
    align-items: center;
}
.roomNum{
    color : black;
    font-size: 20px;
}
.roomMasterContainer{
    display:flex;
    box-sizing: border-box;
}
.roomListContent{
    height:400px;
    background-color: lightgrey;
    margin-left:200px;
    margin-right: 200px;
    margin-top: 20px;
    border-radius: 35px;
    display:flex;
    box-sizing: border-box;
}
.gameName{
    color : gray;
    font-size: 30px;
    box-sizing: border-box;
}
.roomName{
    color : black;
    font-size: 50px;
    box-sizing: border-box;
}
.roomListContent:hover{
    transform: scale(1.1);
    transition-duration: 0.2s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.topOfContent{
    margin-top : 20px;
    display:flex;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;
}
.roomListRightContent{
    position: relative;
    margin-left: 20px;
    flex:1;
    box-sizing: border-box;
}
.bottomContainer{
    position : absolute;
    bottom : 0;
    display : flex;
    justify-content: center;
    align-items: center;
}
.roomMasterNickname{
    color : black;
    font-size: 20px;
    box-sizing: border-box;
}
